<app-main-container>
  <section class="add-customer__container">
    <div class="add-customer__header-content">
      <header>Customer's list</header>
      <input type="text" class="form-control"
            id="filter"
            maxlength="255"
            placeholder="enter search data..."
            [(ngModel)]="searchTerm"
            (input)="handleFilterTextChange()" />
    </div>

    <ng-container *ngIf="filteredCustomersList?.length; else NoDataFound">
      <ngx-datatable
        class="material"
        [rows]="filteredCustomersList"
        columnMode="force"
        [headerHeight]="50"
        [footerHeight]="0"
        [rowHeight]="50"
        [scrollbarV]="true"
        [scrollbarH]="true">
        <ngx-datatable-column name="Full Name"></ngx-datatable-column>
        <ngx-datatable-column name="Email" [width]="200"></ngx-datatable-column>
        <ngx-datatable-column name="DOB" [width]="100"></ngx-datatable-column>
        <ngx-datatable-column name="Customer Code" [width]="100"></ngx-datatable-column>
      </ngx-datatable>
    </ng-container>

    <ng-template #NoDataFound>
      <div>There is no data to show...</div>
    </ng-template>
  </section>
</app-main-container>
