/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "styles/variables";
@import "styles/colors";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

html {
  font-size: #{base-size}px;
}

body {
  background-color: $white;
  color: $primary;
  font-family: Calibri, sans-serif;
}

input {
  color: $primary;
  padding: size(5);
}
