@import 'variables';

:host {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: $footerHeight;
  background-color: #0077b6;
  color: $white;
}

.app-footer {
  padding: size(10);


  > div {
    opacity: 70%;
    text-align: center;
  }
}
